/* HomePage.css */
.home-page {
  padding: 20px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  scrollbar-width: none;
}

.home-Content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 80px;
}

.home-page h1 {

  color: #333;
  font-size: 28px;
  line-height: 36px;
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 0 20px; */


}

.text-content {
  width: 30%;
  align-items: center;
  text-align: justify;
}