.dashhead{
    text-align: center;
  /* background-image: linear-gradient(to bottom left, #f4cde0); */
  background-color:#f4cde0 ;
    padding: 20px 0;
    font-size: 25px;
    font-weight: 600;
    
}